<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>folder</title>
    <th:block th:include="head::head_link" />
</head>
<body>
    <fieldset class="layui-elem-field" style="margin-top: 20px;">
        <legend>文件夹管理</legend>
        <br>
        <div style="margin-left: 50px">
            <div class="layui-row">
                <div class="layui-col-md4">
                    &nbsp;
                </div>
                <div class="layui-col-md2">&nbsp;</div>
                <div class="layui-col-md4">
                    <div class="demoTable" style="overflow:auto">
                        搜索关键词：
                        <div class="layui-inline">
                            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                    </div>
                </div>
            </div>

            <div>
                <table id="folder-list" lay-filter="folder-list"></table>
            </div>
        </div>
    </fieldset>
</body>
<th:block th:include="foot::foot_js" />
<script type="text/html" id="edit-bar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add"><i class="iconfont">&#xe6b9;</i></a>
    <a class="layui-btn layui-btn-xs" lay-event="update"><i class="iconfont">&#xe69e;</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="iconfont">&#xe69d;</i></a>
</script>

<script type="text/html" id="folder-kind">
    {{# if(d.type == 1) { }}
        博客文件夹
    {{# } else if(d.type == 2) { }}
        图片文件夹
    {{# } else { }}
        资源文件夹
    {{# } }}
</script>
<script th:inline="javascript">
    //    var username = [[${session.User.username}]];
    //    console.log(username)
</script>
<script type="text/javascript" th:src="@{/js/resource/folder.js}"></script>
</html>