<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="head::head_link" />
    <style>
    </style>
</head>
<body>
<div style="margin-top: 50px; margin-right: 20px">
    <div class="layui-form-item">
        <label class="layui-form-label">分类名</label>
        <div class="layui-input-block">
            <input type="text" name="name" autocomplete="off" id="name-input" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea id="brief" name="brief" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div align="center" style="margin-top: 40px">
        <button id="create-submit" class="layui-btn layui-btn-normal">
            提交
        </button>
    </div>
</div>
</body>
<th:block th:include="foot::foot_js" />
<script th:inline="javascript">
    let class_id = [[${id}]]
    $('#create-submit').click(function () {
        let name = $('#name-input').val()
        let brief = $('#brief').val()
        let param = {
            name : name,
            brief : brief,
            parentId : class_id
        }
        $.post(HOST + '/admin/classification', param, (result) => {
            if (result.code === 0) {
                layer.msg('分类创建成功')
            } else if (result.code === 403) {
                layer.msg('输入非法，创建失败')
            }
        })
    })
</script>
</html>